<li>
	<%= link_to tribe.name, tribe %>
	<%= will_paginate %>

	<ul class="users">
		<%= render tribe.users %>
	</ul>

	<%= will_paginate %>
	
	<% if current_user.id == tribe.owner_id %>
		| <%= link_to "delete", tribe, method: :delete, confirm: "You sure?" %>
	<% end %>
</li>