<% provide(:title, "Start a tribe")%>
<h2>Start a tribe</h2>

<div class="formcenter">

			<%= form_for(@tribe, :html => { :multipart =>true }) do |f| %>
				<%#= render 'shared/error_messages', object: @tribe %>	
				<%= f.label :name %>
				<%= f.text_field :name %>
				
			  	<%= f.label :image, "Tribe Profile" %>
			  	<%= f.file_field :image %>
			
				<%= f.submit "Update Tribe", class: "btn btn-large btn-primary"%>
	
			<% end %>
			
			<%= link_to "Delete", @tribe, method: :delete,
										confirm: "Are you sure you want to delete this bid and all associated files?", 
										title: @tribe.name %>

</div>