<% provide(:title, 'Invite Users')%>
<h2>Invite someone to join your tribe</h2>

<table class="table table-striped" id="users">
	<thead>	
	  <tr>
		<th>Name</th>
	    <th>Joined</th>		
	    <th>Invite</th>
	  </tr>
	</thead>
	<tbody>
		<% for user in @users %>
		<% if user.confirmed_at.blank? %>
		<% else %>
		<% if current_user.id == user.id %>
		<% else %>
		<tr>
			<td><% if user.image? %>
			<row><%= image_tag user.image_url(:tiny).to_s, :class => "usericon" %> <%= user.combined_name %> </row>
			<% else %>
			<row><%= image_tag '/assets/blank_user.png' %> <%= user.combined_name %> </row>
			<% end %></td>
			<td><%= user.confirmed_at.strftime("%m/%d/%Y") %></td>
			<td>
				

				<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#<%= user.id %>">
				  Invite
				</button>

				<div id="<%= user.id %>" class="collapse">
						<span style="text-align:right;float:right">
						<%= form_for(@membership, :html => { :multipart =>true }) do |f| %>
							<%#= render 'shared/error_messages', object: @tribe %>	
							<%= f.select :tribe_id, @tribes,{:prompt => 'Select Tribe'}, :style => "width:225px !important; margin-bottom:0px;height:30px !important" %>
							<%= f.hidden_field :user_id, :value => user.id %>

							<%= f.hidden_field :invited_by, :value => current_user.id %>								

							<div id="loading">
							    <div id="loadingcontent">
							        <p id="loadingspinner">
							            Inviting...
							        </p>
							    </div>
							</div>

							<%= f.submit "Invite user", class: "btn btn-mini btn-success",:style => "margin:0px !important;font-size:14px !important; height:30px !important", :id => "submitbtn" %>



						<% end %>
						</div>
					</div>
				
				

				
			</td>	
		</tr>	
		<% end %>
		<% end %>
		<% end %>
	</tbody>
</table>
<% if current_user.admin? %>
<hr>
<table class="table table-striped" id="users">
	<thead>	
	  <tr>
		<th>Name</th>
	    <th>Joined</th>		
	    <th>Delete</th>
	  </tr>
	</thead>
	<tbody>
		<% for user in @users %>
		<% if user.confirmed_at.blank? %>
		<% else %>
		<tr>
			<td><% if user.image? %>
			<row><%= image_tag user.image_url(:tiny).to_s %> <%= user.combined_name %> </row>
			<% else %>
			<row><%= image_tag '/assets/blank_user.png' %> <%= user.combined_name %> </row>
			<% end %></td>
			<td><%= user.confirmed_at.strftime("%m/%d/%Y") %></td>
			<td><%= link_to "Delete", user, method: :delete, confirm: "You sure?" %></td>	
		</tr>	
		<% end %>
		<% end %>
	</tbody>
</table>
<% else %>
<% end %>	
<hr>
<div class="well" style="text-align:center">
<h2>Don't see who you are looking for?</h2>
<p><%= button_to "Invite someone to join Sali.sh", 'invitation/new', class: "btn btn-primary btn-large", :method => "get" %></p>
</div>


<script type="text/javascript">		
$(document).ready(function() {
   var oTable = $('#users').dataTable( {
	    "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
		"sPaginationType": "bootstrap",	
		"bLengthChange": false,					
		"iDisplayLength": 10,
		"aaSorting": [[ 0, "asc" ]],					
		"aoColumns": [
	                null,																																
					{ "sType": "datetime-us" },																	
					null
	            ]
        } );
    } );
</script>

<script type="text/javascript" 
        src="@Url.Content("~/Scripts/spin.min.js")"></script>
<script type="text/javascript">
    $(function () {
        $("#submitbtn").click(function () {
            $("#loading").fadeIn();
            var opts = {
                lines: 15, // The number of lines to draw
                length: 27, // The length of each line
                width: 5, // The line thickness
                radius: 20, // The radius of the inner circle
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('loading');
            var spinner = new Spinner(opts).spin(target);
        });
    });
</script>
