<h2><%= t "devise.invitations.new.header" %></h2>
<div class="formcenter">

<p>You have <%= current_user.invitation_limit %> invitations remaining.</p>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

<% resource.class.invite_key_fields.each do |field| -%>
  <p><%= f.label field %><br />
  <%= f.text_field field %></p>

  <p><%= f.label "tribe" %><br />
  <%= f.text_field :tribe_invite %></p>

	<%= f.fields_for :memberships do |membership_field| %>
  <div><%= membership_field.label :tribe_id %><br/>
	<%= membership_field.text_field :tribe_id %><br/></div>
	<% end %>

<% end -%>

  <p><%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-large btn-primary"  %></p>
<% end %>
</div>