

<% for post in current_user.posts %>

<div class="row" style=
"max-width:960px;
width:90%;
margin-left:auto;
margin-right:auto;
">
<% if post.image? %>
<div style="position: relative; left: 0; top: 0;">
<%= image_tag post.image_url(:xlarge).to_s, :style => "position:relative; top: 0px; left: 0px; z-index: 1;"  %>
<div style="
position:absolute;
padding:10px;
background-color:rgba(255,255,255,0.5);
top: 25px; 
left: 25px; 
z-index: 3;
">
<% if post.user.image? %>
<%= image_tag post.user.image_url(:tiny).to_s, :class => "usericon"  %>
<% else %>
<%= image_tag '/assets/blank_user.png' %>
<% end %>
<span style="font-size:16px"><%= post.user.combined_name %></span>
</div>

<div class="text" style="
position:absolute;
padding:10px;
background-color:rgba(255,255,255,0.5);
bottom:25px;
left: 25px; 
z-index: 3;
margin-right:25px;
display: block;
font-size:24px;
line-height:26px;
">
<%= post.text %>
</div>



</div>
<hr>

<% else %>
<div style="height:500px">
<%= post.text %><br>
<%= post.attachment_url %>

<audio controls>
  <source src="<%= post.attachment_url %>" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<% end %>
</div>
<% end %>


<script type="text/javascript">
soundManager.setup({
  // path to directory containing SM2 SWF
  url: '/swf/'
});
</script>

<!-- <script type="text/javascript">
  $(".text").fitText(1.5, { minFontSize: '12px', maxFontSize: '36px' });
</script> -->