<div class="row">


		<div class="well" style="width:270px; margin-left:auto; margin-right:auto;">

		<%= form_for(@post, :html => { :multipart =>true }) do |f| %>
			<%= render 'shared/error_messages', object: @post %>	
			<%= image_tag('pencil.png', :class => "pull-left") %><h2 style="text-align:left;margin-left:60px;margin-bottom:30px;padding-top:5px">Compose</h2>
			<p class="muted" style="margin-top:0px;padding-top:0px">Use just one item below, or combine all three into one beautiful post...</p>		
			<hr>
			<%= image_tag('image-icon.png', :class => "pull-left") %>
		  	<%= f.label :image, "Image", :style => "margin-left:5px" %><br>
		  	<%= f.file_field :image %>
			<hr>
			<%= image_tag('doc-icon.png', :class => "pull-left") %>			
		  	<%= f.label :attachment, "Attachment", :style => "margin-left:5px" %><br>
		  	<%= f.file_field :attachment %>
			<p class="muted" style="margin-top:0px;padding-top:0px">mp3, mov, zip, rar, etc...</p>		
			<hr>
			<%= f.text_area :text, :style => "margin-top:0px;margin-right:5px; width:260px; font-size:18px !important", :rows => "4", placeholder: "Caption..." %>
			<hr>	
			<%= f.select :tribe_id, @tribes, :style => "width:260px; margin-bottom:15px" %>

			<div id="loading">
			    <div id="loadingcontent">
			        <p id="loadingspinner">
			            Creating Preview...
			        </p>
			    </div>
			</div>
			<br>
			<%= f.submit "Preview Post", class: "btn btn-large btn-primary", :id => "submitbtn", :style => "margin-left:0px" %>
	
		<% end %>

		</div>

</div>

<script type="text/javascript" 
        src="@Url.Content("~/Scripts/spin.min.js")"></script>
<script type="text/javascript">
    $(function () {
        $("#submitbtn").click(function () {
            $("#loading").fadeIn();
            var opts = {
                lines: 15, // The number of lines to draw
                length: 27, // The length of each line
                width: 5, // The line thickness
                radius: 20, // The radius of the inner circle
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('loading');
            var spinner = new Spinner(opts).spin(target);
        });
    });
</script>