<p>Hello <%= @resource.email %>!</p>

<p> <%= image_tag current_user.image_url(:tiny).to_s if current_user.image? %> <%= current_user.first_name %> has invited you to Sali.sh, you can accept it through the link below.</p>

<p><%= accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %><%= @resource.tribe_invite %></p>

<p><%= @resource.tribe_invite %></p>

<p>If you don't want to accept the invitation, please ignore this email.<br />
Your account won't be created until you access the link above and set your password.</p>
