<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">	
		<div class="container-fluid">
			<%= link_to image_tag("salish.png"), root_path, id: "logo"%>
				
					<ul class="nav pull-right">

						<% if signed_in? %>
							<li><%= link_to "Tribe", '#' %></li>
							<li class="divider-vertical"></li>
							<li id="fat-menu" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<row><%= image_tag current_user.image_url(:tiny).to_s %> <%= current_user.first_name %> </row>
									<b class="caret"></b>	
								</a>
								<ul class="dropdown-menu">
									<li><%= link_to "Posts", user_path(current_user) %></li>
									<li><%= link_to "Settings", edit_user_registration_path %></li>
									<li class="divider"></li>
									<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
								</ul>
								<li><div class="navprofilepic"></div></li>
						<% else %>
						<li><%= link_to "Sign in", 	new_user_session_path %></li>
						<% end %>

				</ul>
		</div>	
	</div>
</header>

